{% extends 'app/base.html' %}

{% block content %}
    <h1>AboutUs</h1>

    <p>Many customers struggle to locate trustworthy and easily accessible IT support,<br>
     either reaching out to friends and family for assistance or doing lengthy internet searches.<br>
     This results in frustration, lost time, and sometimes expensive downtime. <br>
     Small businesses may also encounter particular difficulties, such as restricted funds for IT support,<br>
     which makes them susceptible to unsolved technological problems that could negatively affect their business operations.</p>

     {% endblock content %}